### Quickstart dummy database generation

To use SQLite3 in Python, first of all, you will have to import the sqlite3 module and then create a connection object which will connect us to the database and will let us execute the SQL statements.

That will create a new file with the name ‘mydatabase.db’.

To execute SQLite statements in Python, you need a cursor object. You can create it using the cursor() method. 

That will let you use the cursor object to call the execute() method to execute any SQL queries.

Lets create the table stock with the following attributes:

    stock (id, date, symbol, avg_num_trades, avg_price)

In [8]:
import sqlite3
from sqlite3 import Error

def sql_connection():
    try:
        con = sqlite3.connect('soam_quickstart.db')
        return con
    except Error:
        print(Error)

def sql_table(con):
    cursorObj = con.cursor()
    cursorObj.execute("CREATE TABLE stock(id integer PRIMARY KEY, date datetime, symbol text, avg_num_trades real, avg_price real)")
    con.commit()

con = sql_connection()
sql_table(con)

#### Insert data

In [10]:
cursorObj = con.cursor()

#records or rows in a list
records = [
    (1, '2021-03-01', 'AAPL', 80000, 125),
    (2, '2021-03-02', 'AAPL', 70000, 126),
    (3, '2021-03-03', 'AAPL', 80000, 123),
    (4, '2021-03-04', 'AAPL', 70000, 121),
    (5, '2021-03-05', 'AAPL', 80000, 119),
    (6, '2021-03-06', 'AAPL', 85000, 116),
    (7, '2021-03-07', 'AAPL', 80000, 124),
    (8, '2021-03-08', 'AAPL', 70000, 125),
    (9, '2021-03-09', 'AAPL', 87000, 128),
    (10, '2021-03-10', 'AAPL', 90000, 135),
    (11, '2021-03-11', 'AAPL', 90000, 132),
    (12, '2021-03-12', 'AAPL', 85000, 126),
    (13, '2021-03-13', 'AAPL', 75000, 120),
    (14, '2021-03-14', 'AAPL', 80000, 125),
    (15, '2021-03-15', 'AAPL', 100000, 135),
    (16, '2021-03-16', 'AAPL', 105000, 136),
    (17, '2021-03-17', 'AAPL', 110000, 138),
    (18, '2021-03-18', 'AAPL', 110000, 129),
    (19, '2021-03-19', 'AAPL', 120000, 136),
    (20, '2021-03-20', 'AAPL', 120000, 136),
    (21, '2021-03-21', 'AAPL', 130000, 138),
    (22, '2021-03-22', 'AAPL', 150000, 142),
    (23, '2021-03-01', 'TSLA', 60000, 105),
    (24, '2021-03-02', 'TSLA', 62000, 104),
    (25, '2021-03-03', 'TSLA', 64000, 101),
    (26, '2021-03-04', 'TSLA', 69000, 108),
    (27, '2021-03-05', 'TSLA', 80000, 115),
    (28, '2021-03-06', 'TSLA', 85000, 114),
    (29, '2021-03-07', 'TSLA', 77000, 105),
    (30, '2021-03-08', 'TSLA', 89000, 116),
]

#insert multiple records in a single query
cursorObj.executemany('INSERT INTO stock VALUES(?,?,?,?,?);',records);

print('We have inserted', cursorObj.rowcount, 'records to the table.')

#commit the changes to db			
con.commit()

We have inserted 30 records to the table.